<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced</title>
</head>
<body>
<h1>Let's see more detail about your today's meals</h1>
<div>
    In that part of app you can see how many calories, fats etc you have eaten and how many
    you should eat to reach optimal values.
</div>
<div>
    <br>You should eat today {{ppm}} calories
    <br>You reduced {{reduced_calories}} calories
    <br>You have eaten {{kcal_sum}} calories
    <br>Summary: {{ summary }}
</div>
<div>
    <br> You should consume {{required_proteins}}g of proteins
    <br> You consume {{proteins_sum}}g proteins
</div>
<div>
    <br> You should consume {{required_carbohydrates}}g of carbohydrates
    <br> You consume {{carbohydrates_sum}}g carbohydrates
</div>
<div>
    <br> You should consume {{required_fats}}g of fats
    <br> You consume {{fats_sum}}g fats
</div>
<div>
    <br>If you want to add new meal, click here
    <a href="{% url 'personal_form' %}">Add new meal</a>
</div>
<div>
    <br>Or if you had some activity today, click here
    <a href="{% url 'reduce_form' %}">Add your activity</a>
</div>
<p><a href="{% url 'logout' %}">logout</a></p>
</body>
</html>