<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced</title>
</head>
<body>
<h1>Let's see more detail about your today's meals</h1>
<div>
    In that part of app you can see how many calories, fats etc you have eaten and how many
    you should eat to reach optimal values.
</div>
<div>
    You should eat today {{ppm}} calories
    <br> You have eaten today {{kcal_sum}} calories
    <br> You should consume {{required_proteins}} proteins
    <br> You consume {{proteins_sum}} proteins
</div>

</body>
</html>