{% load static %}
<html>
<head>

     <meta charset="utf-8">
    <title>Chart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>
<body>
<div style="background-color:lightblue; padding-right:10px" class="d-flex justify-content-end">
    <p><a href="{% url 'logout' %}">logout</a></p>
    </div>
    <div style="background-color:lightblue; height:130px;" class="d-flex justify-content-center">
    <h1 class="header">Calories counter app</h1>



</div>
<div>
    <h2>At this page you can see your week eaten calories balance</h2>
</div>

<div id="container" style="width: 75%;">
    <canvas id="calories-chart" width="400" height="200" data-url="{% url 'calories-chart' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $caloriesChart = $("#calories-chart");
      $.ajax({
        url: $caloriesChart.data("url"),
        success: function (data) {

          var ctx = $caloriesChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Calories',
                borderColor: 'red',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'bottom'
              },
              title: {
                display: true,
                text: 'Your calories eaten last week'
              }
            }
          });

        }
      });

    });

  </script>
</body>
</html>
