{% extends 'base.html' %}

{% block title %}MealForm{% endblock %}

{% block content %}
<h1>Fill advanced meal form</h1>
<p>
    In this part of application you can fill a meal form with more options than in simple part.
</p>

<form action="/diets/mealform/" method="post">
    {% csrf_token %}
    {{ meal_form.as_p }}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}

{% block logout %}<p class="font-weight-bold"><a href="{% url 'logout' %}">logout</a></p>{% endblock %}
