<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
<div class="sum">
<p class="text-sum"><b>Sum of calories you've eaten today:
     {{kcal_sum}}</b></p>

</div>
<div class="index-description">
 <p>
     As you can see at the left side of page, there is a list with a products you have eaten today. If you
    enter some product with bad quantity of calories there is a possibility to delete this product from the list.
    You can also see sum of calories from products you have eaten today. Information displayed on this page let you
    control your daily calories. It is very important to control daily calories if you want to be healthy. Negative
    energy balance cause fast reduction of body mass but it can be really unhealthy if we supply not enough calories.
    Positive energy balance also can be unhealthy, it can cause weight gain. Being overweight is a common disease
        it is important to protect yourself against it.
 </p>
</div>
<div class="list-container">
<h3>{{user.username}} you have eaten today:</h3>



<div class="eaten-list">
    <ul>
    {% for meal in meal_list %}
    <li>
        {{ meal }}
    <form action="delete_calories/{{meal.id}}" method = "post">{% csrf_token %}
            <input class="btn btn-primary btn-sm" type="submit" value="Delete">
</form>
    </li>
        {% endfor %}
    </ul>
</div>
</div>

{% endblock %}

{% block logout %}<p class="font-weight-bold"><a href="{% url 'logout' %}">logout</a></p>{% endblock %}