<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
<div>{{user.username}} you have eaten today:</div>
<div>
    <ul>
    {% for meal in meal_list %}
    <li>
        {{ meal }}
    <form action="delete_calories/{{meal.id}}" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
</form>
    </li>
        {% endfor %}
    </ul>
</div>
<div>
    Sum of calories you've eaten today:
    {{kcal_sum}}
</div>

<p><a href="{% url 'logout' %}">logout</a></p>
{% endblock %}

{% block logout %}<p><a href="{% url 'logout' %}">logout</a></p>{% endblock %}