<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
<div class="sum">
<p class="text-sum"><b>Sum of calories you've eaten today:
     {{kcal_sum}}</b></p>
</div>
<div class="list-container">
<h3>{{user.username}} you have eaten today:</h3>



<div class="eaten-list">
    <ul>
    {% for meal in meal_list %}
    <li>
        {{ meal }}
    <form action="delete_calories/{{meal.id}}" method = "post">{% csrf_token %}
            <input class="btn btn-primary btn-sm" type="submit" value="Delete">
</form>
    </li>
        {% endfor %}
    </ul>
</div>
</div>

{% endblock %}

{% block logout %}<p class="font-weight-bold"><a href="{% url 'logout' %}">logout</a></p>{% endblock %}