{% extends 'base.html' %}

{% block title %}Name{% endblock %}
{% block content %}
<form action="/calories/meal/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

<div>
    As you can see, you can fill a form and enter how many calories has your meal.
    If you don't know how many calories has your meal, check list given below, there
    are basic meals and their kcal quantity:
    <ul>
        {% for name,quantity in calories.items %}
        <li>Product {{name}} has {{quantity}} calories</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
{% block logout %}<p class="font-weight-bold"><a href="{% url 'logout' %}">logout</a></p>{% endblock %}