<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h1>Welcome in Calories Counter app!</h1>
<div>
    This application is divided in two parts. If you would like just to control what you eat
    and check just how many calories, first part is for you! There is as option to add meal
    and you can after check what you have eaten today and how much calories have your meals had.
</div>

<div>
    <br>If you want to see what have you eaten today, click here
    <a href="{% url 'index' %}">Your meals today</a>

    <br>If you want to add new meal to your today's meals, click here
    <a href="{% url 'get_name' %}">Add new meal</a>
</div>
<div>
    <br>If you are sportsmen or you just want to control your weight in more details, that part is for you!
    You have to fill a form about your current weight, height, age and gender and add your meal, and
    thanks for it application will show you information about details of your today's meals
</div>
<div>
    <br>If you want to control your meal data in more advanced way, click here
    <a href="{% url 'personal_form' %}">Advanced</a>

</div>
<p><a href="{% url 'logout' %}">logout</a></p>
</body>
</html>